<div class="row">
    <div class="col-md-5 text-md-start ms-5" style="font-family:Inter Bold;font-size: 50px;color: #08436A;">
       MY Profile
    </div>
</div>
<div class="row pb-3">
    <div class="col-md-3 col-lg-3 col-xl-3 d-flex ms-5">
        <div class="card pt-3 ms-3 shadow position-relative" style="background-color: white;border-radius: 20px;box-shadow: 2px 2px 2px 2px #DFDFDF inset;">
            <img src="~/img/pic.png" alt="pic" class="card-img-top text-center" style="width:250px;align-self:center" />
            <div class="card-body" style="font-family:lora;">
                <div class="card-title lh-1" style="font-size:30px;color:#08436A; text-align:center">Shrouq Hasssan Yousef Baker</div>
                <div class="card-text" style="color:#6D6D6D;text-align:center;font-size:30px">CIS</div>
            </div>
        </div>
    </div>

    <div class="col-md-7 col-lg-7 col-xl-7 d-flex " >
        <div class="card shadow position-relative container-fluid" style="background-color: white;border-radius: 20px;box-shadow: 2px 2px 2px 2px #DFDFDF inset;">
            <div class="row pt-3" style="font-family:inter ; font-size:30px; color:#08436A">
                <div class="col-md-6 col-lg-6 col-xl-6 d-flex">
                    <div class="ms-3"><strong style="color:#808080">Full Name:</strong> <br />Shrouq Hassan Yousef Baker</div>
                </div>
                <div class="col-md-6 col-lg-6 col-xl-6 d-flex">
                    <div ><strong style="color:#808080">Major:</strong></br>Computer Information System</div>
                </div>
       </div>
            <div class="row pt-3" style="font-family:inter ; font-size:30px; color:#08436A">
                <div class="col-md-6 col-lg-6 col-xl-6 d-flex">
                    <div class="ms-3"><strong style="color:#808080">Email:</strong> <br />sro0224734@ju.edu.jo</div>
                </div>
                <div class="col-md-6 col-lg-6 col-xl-6 d-flex">
                    <div ><strong style="color:#808080">College:</strong><br />King Abdullah II School of Information Technology</div>
                </div>
            </div>

            <div class="row " style="font-family:inter ; font-size:30px; color:#08436A">
                <div class="col-md-6 col-lg-6 col-xl-6 d-flex">
                    <div class="ms-3"><strong style="color:#808080">Role: </strong> Student </div>
                </div>
            </div>
            <div class="row pt-4">
                <div class="col-md-6 col-lg-6 col-xl-6 d-flex">
                    <button class="btn btn-sm d-flex align-items-center ms-3 " style="border-radius:10px; background-color:#08436A;color:white; font-size:20px;">
                        Edit profile <i class="fas fa-pen me-2  ps-4 "></i>
                    </button>
                    <button class="btn btn-danger btn-sm d-flex align-items-center ms-3" style="border-radius:10px; background-color:#B60808 ;color:white; font-size:20px">
                        Change password<i class="fas fa-lock me-2  ps-4"></i>
                    </button>
                </div>
            </div>

   </div>
    </div>
</div>


<div class="row">
    <div class="col-md-5 text-md-start ms-5" style="font-family:Inter Bold;font-size: 50px;color: #08436A;">
        Calendar
    </div>
</div >


<div class="container">
    <div class="card mb-5" style="box-shadow: inset 4px 4px 4px rgba(0, 0, 0, 0.25);border-radius: 10px;background-color:white; height:1100px">
        <div class="row mt-3">
            <div class="col-md-12 col-lg-12 col-xl-12 d-flex " style="justify-content: center;">
                <i class="fa-solid fa-angle-left fa-xl mt-4"></i>
                <strong class="mx-3" style="font-family:inter ;color:#08436A;font-size:40px">November </strong>
                <i class="fa-solid fa-angle-right fa-xl mt-4"></i>
            </div>
        </div>
        <div class="row mt-3" style="justify-content: center;">


        <div class="row mt-3" style="justify-content: center;">
            <div class="col-md-1 col-lg-1 col-xl-1 d-flex ms-5 mx-5" style="justify-content: center;font-family:inter ;color:#08436A;font-size:30px">
                    SUN                       
            </div>
            <div class="col-md-1 col-lg-1 col-xl-1 d-flex mx-4 " style="justify-content: center;font-family:inter ;color:#08436A;font-size:30px">
                    MUN
            </div>
            <div class="col-md-1 col-lg-1 col-xl-1 d-flex mx-5" style="justify-content: center;font-family:inter ;color:#08436A;font-size:30px">
                    TUE
            </div>
            <div class="col-md-1 col-lg-1 col-xl-1 d-flex mx-4" style="justify-content: center;font-family:inter ;color:#08436A;font-size:30px">
                    WED
            </div>
            <div class="col-md-1 col-lg-1 col-xl-1 d-flex mx-5" style="justify-content: center;font-family:inter ;color:#08436A;font-size:30px">
                    THU
            </div>
            <div class="col-md-1 col-lg-1 col-xl-1 d-flex mx-4" style="justify-content: center;font-family:inter ;color:#08436A;font-size:30px">
                    FRI
            </div>
            <div class="col-md-1 col-lg-1 col-xl-1 d-flex mx-5" style="align-items: center;;font-family:inter ;color:#08436A;font-size:30px">
                    SAT
            </div>

            </div>
        </div>
        <div class="row mt-3 mx-5" style="justify-content: center;">
            <div class="col d-flex " style="justify-content: center;font-family:inter ;color:#08436A;font-size:30px">
                <div class="card pt-3 ms-3 shadow position-relative" style="align-items: center;background-color: white;border-radius: 20px;width:100%;height:150px">
                    
                </div>
            </div>
            <div class="col d-flex " style="justify-content: center;font-family:inter ;color:#08436A;font-size:30px">
                <div class="card pt-3 ms-1 shadow position-relative" style="align-items: center;background-color: white;border-radius: 20px;width:100%;height:150px">
                
                </div>
            </div>
            <div class="col d-flex " style="justify-content: center;font-family:inter ;color:#08436A;font-size:30px">
                <div class="card pt-3 ms-1 shadow position-relative" style="align-items: center;background-color: white;border-radius: 20px;width:100%;height:150px">
                    
                </div>
            </div>
            <div class="col d-flex " style="justify-content: center;font-family:inter ;color:#08436A;font-size:30px">
                <div class="card pt-3 ms-1 shadow position-relative" style="align-items: center;background-color: white;border-radius: 20px;width:100%;height:150px">
                   
                </div>
            </div>
            <div class="col d-flex " style="justify-content: center;font-family:inter ;color:#08436A;font-size:30px">
                <div class="card pt-3 ms-1 shadow position-relative" style="align-items: center;background-color: white;border-radius: 20px;width:100%;height:150px">
                   
                </div>
            </div>
            <div class="col d-flex " style="justify-content: center;font-family:inter ;color:#08436A;font-size:30px">
                <div class="card pt-3 ms-1 shadow position-relative" style="align-items: center;background-color: white;border-radius: 20px;width:100%;height:150px">
                1
                </div>
            </div>
            <div class="col d-flex " style="justify-content: center;font-family:inter ;color:#08436A;font-size:30px">
                <div class="card pt-3 ms-1 shadow position-relative" style="align-items: center;background-color: white;border-radius: 20px;width:100%;height:150px">
                    2
                </div>
            </div>
         </div>

         <!-- scecond row-->
        <div class="row mt-3 mx-5" style="justify-content: center;">
            <div class="col d-flex " style="justify-content: center;font-family:inter ;color:#08436A;font-size:30px">
                <div class="card pt-3 ms-3 shadow position-relative" style="align-items: center;background-color: white;border-radius: 20px;width:100%;height:150px">
                    3
                </div>
            </div>
            <div class="col d-flex " style="justify-content: center;font-family:inter ;color:#08436A;font-size:30px">
                <div class="card pt-3 ms-1 shadow position-relative" style="align-items: center;background-color: white;border-radius: 20px;width:100%;height:150px">
                    4
                </div>
            </div>
            <div class="col d-flex " style="justify-content: center;font-family:inter ;color:#08436A;font-size:30px">
                <div class="card pt-3 ms-1 shadow position-relative" style="align-items: center;background-color: white;border-radius: 20px;width:100%;height:150px">
                    5
                </div>
            </div>
            <div class="col d-flex " style="justify-content: center;font-family:inter ;color:#08436A;font-size:30px">
                <div class="card pt-3 ms-1 shadow position-relative" style="align-items: center;background-color: white;border-radius: 20px;width:100%;height:150px">
                   6
                </div>
            </div>
            <div class="col d-flex " style="justify-content: center;font-family:inter ;color:#08436A;font-size:30px">
                <div class="card pt-3 ms-1 shadow position-relative" style="align-items: center;background-color: white;border-radius: 20px;width:100%;height:150px">
                    7
                </div>
            </div>
            <div class="col d-flex " style="justify-content: center;font-family:inter ;color:#08436A;font-size:30px">
                <div class="card pt-3 ms-1 shadow position-relative" style="align-items: center;background-color: white;border-radius: 20px;width:100%;height:150px">
                    8
                </div>
            </div>
            <div class="col d-flex " style="justify-content: center;font-family:inter ;color:#08436A;font-size:30px">
                <div class="card pt-3 ms-1 shadow position-relative" style="align-items: center;background-color: white;border-radius: 20px;width:100%;height:150px">
                    9
                </div>
            </div>
        </div>


        <!-- Third row-->
        <div class="row mt-3 mx-5" style="justify-content: center;">
            <div class="col d-flex " style="justify-content: center;font-family:inter ;color:#08436A;font-size:30px">
                <div class="card pt-3  shadow position-relative" style="  align-items: center;background-color:#E4EAED ;border-radius: 20px;width:100%;height:150px">
                    10<br/>
                    <div style="font-size:18px">Hackthon Results</div> 
                    <div>
                    <span class="fa fa-star fa-2xs checked"></span>
                    <span class="fa fa-star fa-2xs checked"></span>
                    <span class="fa fa-star fa-2xs checked"></span>
                    <span class="fa fa-star fa-2xs "></span>
                    <span class="fa fa-star fa-2xs "></span>
                    </div>
                </div>
            </div>
            <div class="col d-flex " style="justify-content: center;font-family:inter ;color:#08436A;font-size:30px">
                <div class="card pt-3 ms-1 shadow position-relative" style="align-items: center;background-color: white;border-radius: 20px;width:100%;height:150px">
                    11
                </div>
            </div>
            <div class="col d-flex " style="justify-content: center;font-family:inter ;color:#08436A;font-size:30px">
                <div class="card pt-3 ms-1 shadow position-relative" style="align-items: center;background-color: white;border-radius: 20px;width:100%;height:150px">
                    12
                </div>
            </div>
            <div class="col d-flex " style="justify-content: center;font-family:inter ;color:#08436A;font-size:30px">
                <div class="card pt-3 ms-1 shadow position-relative" style="align-items: center;background-color: white;border-radius: 20px;width:100%;height:150px">
                    13
                </div>
            </div>
            <div class="col d-flex " style="justify-content: center;font-family:inter ;color:#08436A;font-size:30px">
                <div class="card pt-3 ms-1 shadow position-relative" style="align-items: center;background-color: white;border-radius: 20px;width:100%;height:150px">
                    14
                </div>
            </div>
            <div class="col d-flex " style="justify-content: center;font-family:inter ;color:#08436A;font-size:30px">
                <div class="card pt-3 ms-1 shadow position-relative" style="align-items: center;background-color: white;border-radius: 20px;width:100%;height:150px">
                    15
                </div>
            </div>
            <div class="col d-flex " style="justify-content: center;font-family:inter ;color:#08436A;font-size:30px">
                <div class="card pt-3 ms-1 shadow position-relative" style="align-items: center;background-color: white;border-radius: 20px;width:100%;height:150px">
                    16
                </div>
            </div>
        </div>


        <!-- Fourth row-->
        <div class="row mt-3 mx-5" style="justify-content: center;">
            <div class="col d-flex " style="justify-content: center;font-family:inter ;color:#08436A;font-size:30px">
                <div class="card pt-3 ms-3 shadow position-relative" style="align-items: center;background-color: white;border-radius: 20px;width:100%;height:150px">
                    17
                </div>
            </div>
            <div class="col d-flex " style="justify-content: center;font-family:inter ;color:#08436A;font-size:30px">
                <div class="card pt-3  shadow position-relative" style="align-items: center;background-color: #E4EAED;border-radius: 20px;width:100%;height:150px">
                    18<br />
                    <div style="font-size:18px">Play it right</div>
                    <div>
                        <span class="fa fa-star fa-2xs checked"></span>
                        <span class="fa fa-star fa-2xs checked"></span>
                        <span class="fa fa-star fa-2xs checked"></span>
                        <span class="fa fa-star fa-2xs checked "></span>
                        <span class="fa fa-star fa-2xs" ></span>
                    </div>
                </div>
            </div>
            <div class="col d-flex " style="justify-content: center;font-family:inter ;color:#08436A;font-size:30px">
                <div class="card pt-3 ms-1 shadow position-relative" style="align-items: center;background-color: white;border-radius: 20px;width:100%;height:150px">
                    19
                </div>
            </div>
            <div class="col d-flex " style="justify-content: center;font-family:inter ;color:#08436A;font-size:30px">
                <div class="card pt-3 ms-1 shadow position-relative" style="align-items: center;background-color: white;border-radius: 20px;width:100%;height:150px">
                    20
                </div>
            </div>
            <div class="col d-flex " style="justify-content: center;font-family:inter ;color:#08436A;font-size:30px">
                <div class="card pt-3 ms-1 shadow position-relative" style="align-items: center;background-color: white;border-radius: 20px;width:100%;height:150px">
                    21
                </div>
            </div>
            <div class="col d-flex " style="justify-content: center;font-family:inter ;color:#08436A;font-size:30px">
                <div class="card pt-3 ms-1 shadow position-relative" style="align-items: center;background-color: white;border-radius: 20px;width:100%;height:150px">
                    22
                </div>
            </div>
            <div class="col d-flex " style="justify-content: center;font-family:inter ;color:#08436A;font-size:30px">
                <div class="card pt-3 ms-1 shadow position-relative" style="align-items: center;background-color: white;border-radius: 20px;width:100%;height:150px">
                    23
                </div>
            </div>
        </div>

        <!-- Fivth row-->
        <div class="row mt-3 mx-5" style="justify-content: center;">
            <div class="col d-flex " style="justify-content: center;font-family:inter ;color:#08436A;font-size:30px">
                <div class="card pt-3 ms-3 shadow position-relative" style="align-items: center;background-color: white;border-radius: 20px;width:100%;height:150px">
                    24
                </div>
            </div>
            <div class="col d-flex " style="justify-content: center;font-family:inter ;color:white;font-size:30px">
                <div class="card pt-3 ms-1 shadow position-relative" style="align-items: center;color:white;background-color: #08436A;border-radius: 20px;width:100%;height:150px">
                    25<br />
                    <div style="font-size:18px;color:white;">Play it right</div>
                    <div>
                        <span class="fa fa-star fa-2xs " style="color:white"></span>
                        <span class="fa fa-star fa-2xs " style="color:white"></span>
                        <span class="fa fa-star fa-2xs " style="color:white"></span>
                        <span class="fa fa-star fa-2xs " style="color:white"></span>
                        <span class="fa fa-star fa-2xs " style="color:white"></span>
                    </div>
                </div>
            </div>
            <div class="col d-flex " style="justify-content: center;font-family:inter ;color:#08436A;font-size:30px">
                <div class="card pt-3 ms-1 shadow position-relative" style="align-items: center;background-color: white;border-radius: 20px;width:100%;height:150px">
                    26
                </div>
            </div>
            <div class="col d-flex " style="justify-content: center;font-family:inter ;color:#08436A;font-size:30px">
                <div class="card pt-3 ms-1 shadow position-relative" style="align-items: center;background-color: white;border-radius: 20px;width:100%;height:150px">
                    27
                </div>
            </div>
            <div class="col d-flex " style="justify-content: center;font-family:inter ;color:white;font-size:30px">
                <div class="card pt-3 mb-2 ms-1 shadow position-relative" style="align-items: center;color:white;background-color: #08436A;border-radius: 20px;width:100%;height:150px">
                    28 <br />
                    <div style="font-size:18px;color:white;text-align: center;">Fuel Your Passion For Technology</div>
                    <div>
                        <span class="fa fa-star fa-2xs " style="color:white"></span>
                        <span class="fa fa-star fa-2xs " style="color:white"></span>
                        <span class="fa fa-star fa-2xs " style="color:white"></span>
                        <span class="fa fa-star fa-2xs " style="color:white"></span>
                        <span class="fa fa-star fa-2xs " style="color:white"></span>
                    </div>
                </div>
            </div>
            <div class="col d-flex " style="justify-content: center;font-family:inter ;color:#08436A;font-size:30px">
                <div class="card pt-3 ms-1 shadow position-relative" style="align-items: center;background-color: white;border-radius: 20px;width:100%;height:150px">
                    29
                </div>
            </div>
            <div class="col d-flex " style="justify-content: center;font-family:inter ;color:#08436A;font-size:30px">
                <div class="card pt-3 ms-1 shadow position-relative" style="align-items: center;background-color: white;border-radius: 20px;width:100%;height:150px">
                   30
                </div>
            </div>
        </div>



       @*  <img src="~/img/calender.png" style="width: 90%;align-self: center;" /> *@
</div>
</div>

