<div class="my-5 align-content-center" style="color:#08436A;font-family:Lora Bold Italic;font-size:60px;width:100%;text-align:center;">
    Fuel Your Passion For Technology
</div>
<div class="container">
    <div class="row g-4">
        <!-- Left Section -->
        <div class="col-md-6">
            <div class="event-banner">
                <img class="img-fluid" style="border-radius:10px;border:1px solid black;" src="~/img/singleevent.png" alt="Logo">
            </div>
        </div>
        <div class="col-md-6">
            <!-- Countdown -->
            <div class="p-3" style="background-color:white;border-radius:25px;box-shadow: inset 4px 4px 4px rgba(0, 0, 0, 0.2);">
                <div class="row" style="text-align:center;">
                    <div class="col">
                        <div class="countdown-single-upcoming" id="days">00</div>
                        <div style="color:#08436A;font-family:Inter Regular;">Days</div>
                    </div>
                    <div class="col">
                        <div class="countdown-single-upcoming" id="hours">00</div>
                        <div style="color:#08436A;font-family:Inter Regular;">Days</div>
                    </div>
                    <div class="col">
                        <div class="countdown-single-upcoming" id="minutes">00</div>
                        <div style="color:#08436A;font-family:Inter Regular;">Days</div>
                    </div>
                    <div class="col">
                        <div class="countdown-single-upcoming" id="seconds">00</div>
                        <div style="color:#08436A;font-family:Inter Regular;">Days</div>
                    </div>
                </div>
                <div class="row mt-3 text-center mx-auto" style="border:2px solid#08436A;border-radius:20px;width:92%;">
                    <div class="col-7">
                        <div class="row py-2 lh-1" style="border-right:2px solid#08436A;">
                            <i class="col-3 px-0 fa-regular fa-calendar fa-xl align-content-center" style="color:#B3B3B3;"></i>
                            <div class="col-9 px-0" style="color:#08436A;font-family:Inter Regular;text-align:left;">
                                Thursday,
                                <br />
                                November 28, 2024
                            </div>
                        </div>
                    </div>
                    <div class="col-5 align-content-center">
                        <div class="row py-2">
                            <i class="col-3 px-0 fa-regular fa-clock fa-xl align-content-center" style="color:#B3B3B3;"></i>
                            <div class="col-9 px-0" style="color:#08436A;font-family:Inter Regular;text-align:left;">12:30 - 3:30 PM</div>
                        </div>
                    </div>
                    <div class="col-12" style="border-top:2px solid#08436A;">
                        <div class="row py-2">
                            <i class=" col-1 px-0 fa-light fa-location-dot fa-xl align-content-center" style="color:#B3B3B3;"></i>
                            <div class="col-11 px-0" style="color:#08436A;font-family:Inter Regular;text-align:center;">King Abdullah II School of Information Technology, Al-Louzi Auditorium</div>
                        </div>
                    </div>
                </div>
                <div class="row mx-auto py-3" style="width:50%;">
                    <button class="btn btn-primary register-btn" style="border:none;color:white; background-color:#08436A;font-family:Inter Bold;font-size:23px;border-radius:10px;">
                        <div>Register Now</div>
                    </button>
                </div>
            </div>

            <!-- Event Details -->
            <!-- Register Button -->
            <!-- Hosted By -->
            <div class="my-5" style="background-color:white;border-radius:25px;box-shadow: inset 4px 4px 4px rgba(0, 0, 0, 0.2);">
                <div class="row py-3">
                    <div class="col-8 m-auto" style="text-align:center;font-family:Inter Bold;font-size:20px">Hosted by: Tech3arabi</div>
                    <div class="col-4">
                        <img class="rounded-pill" style="width: 96.88px;height: 96.88px;" src="~/img/company1.png" alt="Host Logo">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container my-5 align-content-center" style="color:#08436A;font-family:Inter Bold;font-size:35px;width:100%;text-align:left;">
    🚀 Ready to Explore Real Entrepreneurship?
</div>
<div class="container my-3 align-content-center" style="color:#08436A;font-family:Inter Regular;font-size:22px;width:100%;text-align:left;">
    <b>Join us</b> at "Real Entrepreneurship: Stories That Inspire!" on <b>Thursday, November 28th, 2024</b>, at the King Abdullah II School of Information Technology.<br /><br />
    This is your chance to learn from top industry experts, hear real-life stories of challenges and triumphs, and get inspired to start your own journey. Don’t miss this unique opportunity to connect, learn, and grow!<br /><br />
    <b>Mark your calendar and be part of this transformative experience!</b>
</div>
<div class="container my-3">
    <div class="row">
        <div class="col-6">
            <button class="btn btn-primary disabled tag-btn m-1">
                <div>Entrepreneurship</div>
            </button>
            <button class="btn btn-primary disabled tag-btn m-1">
                <div>Innovation</div>
            </button>
            <button class="btn btn-primary disabled tag-btn m-1">
                <div>Tech3arabi</div>
            </button>
            <button class="btn btn-primary disabled tag-btn m-1">
                <div>QUILL</div>
            </button>
            <button class="btn btn-primary disabled tag-btn m-1">
                <div>ZINC</div>
            </button>
        </div>
    </div>
</div>
<div class="container" style="margin-top:10rem;color:#08436A;font-family:Inter Bold;font-size:35px;width:100%;">
    Event Agenda
</div>
<div class="container mt-4" style="display: flex; justify-content: center;">
    <div class="row">
        <div class="col-md-12">
            <div class="" id="content">
                <ul class="timeline-1 text-black pb-0">
                    <li class="event edges" data-date="12:30 - 12:40pm">
                        <div class="mb-3 pt-3 timeline-title">Opening and Welcome Speech</div>
                    </li>
                    <li class="event" data-date="12:40 - 1:30pm">
                        <div class="mb-3 pt-3 timeline-title">Discussion 1: Hesham Abu Baker  & Tamer Jarajrah</div>
                        <div class="timeline-body">
                            focus: Entrepreneurship in business and tech.
                        </div>
                    </li>
                    <li class="event" data-date="1:30 - 1:40pm">
                        <div class="mb-3 pt-3 timeline-title">Break and coffee time</div>
                    </li>
                    <li class="event" data-date="1:40 - 2:30pm">
                        <div class="mb-3 pt-3 timeline-title">Discussion 2: Alaa Al-Khalaileh & Ahmed Al-Maghribi</div>
                        <div class="timeline-body">
                            Focus: Content creation and tech communication.
                        </div>
                    </li>
                    <li class="event" data-date="2:30 - 3:15pm">
                        <div class="mb-3 pt-3 timeline-title">Q&A Session with audience interaction.</div>
                    </li>
                    <li class="event edges" data-date="3:15 - 3:30pm">
                        <div class="mb-3 timeline-title">Closing Remarks.</div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="container align-content-center" style="margin-top:10rem;color:#08436A;font-family:Inter Bold;font-size:35px;width:100%;text-align:left;">
    Speakers
</div>
<div class="card-group my-4">
    <div class="card hover-card mx-4 me-3 shadow speaker-body" style="margin-left: 10rem !important;">
        <img src="~/img/speaker1.png" class="card-img-top" alt="card1img">
        <a href="https://www.linkedin.com/" class="hover-overlay d-flex justify-content-center align-items-center">
            <i class="fab fa-linkedin "></i>
        </a>
        <div class="card-body pt-0" style="text-align:center;">
            <div class="card-title" style="font-family:Inter Bold;font-size:20px;color:#08436A;">Ahmed Al-Maghribi</div>
            <div class="card-text" style="color:#B7B0B0;font-family:Inter Regular;font-size:12px;">
                Founder of Tech3arabi, focusing on technology communication and media.
            </div>
        </div>
    </div>
    <div class="card hover-card mx-4 me-3 shadow speaker-body">
        <img src="~/img/speaker2.png" class="card-img-top img-fluid" alt="card1img">
        <a href="https://www.linkedin.com/" class="hover-overlay d-flex justify-content-center align-items-center">
            <i class="fab fa-linkedin "></i>
        </a>
        <div class="card-body pt-0" style="text-align:center;">
            <div class="card-title" style="font-family:Inter Bold;font-size:20px;color:#08436A;">Alaa Al-Khalaileh</div>
            <div class="card-text" style="color:#B7B0B0;font-family:Inter Regular;font-size:12px;">
                Specializes in content creation and innovation, founder of Quill.
            </div>
        </div>
    </div>
    <div class="card hover-card mx-4 me-3 shadow speaker-body">
        <img src="~/img/speaker3.png" class="card-img-top img-fluid" alt="card1img">
        <a href="https://www.linkedin.com/" class="hover-overlay d-flex justify-content-center align-items-center">
            <i class="fab fa-linkedin "></i>
        </a>
        <div class="card-body pt-0" style="text-align:center;">
            <div class="card-title" style="font-family:Inter Bold;font-size:20px;color:#08436A;">Tamer Jarajrah</div>
            <div class="card-text" style="color:#B7B0B0;font-family:Inter Regular;font-size:12px;">
                Expert in technology innovation and entrepreneurship, associated with Zinc.
            </div>
        </div>
    </div>
    <div class="card hover-card mx-4 me-3 shadow speaker-body" style="margin-right: 10rem !important;">
        <img src="~/img/speaker4.png" class="card-img-top img-fluid" alt="card1img">
        <a href="https://www.linkedin.com/" class="hover-overlay d-flex justify-content-center align-items-center">
            <i class="fab fa-linkedin "></i>
        </a>
        <div class="card-body pt-0" style="text-align:center;">
            <div class="card-title" style="font-family:Inter Bold;font-size:20px;color:#08436A;">Hesham Abu Baker</div>
            <div class="card-text" style="color:#B7B0B0;font-family:Inter Regular;font-size:12px;">
                Specializes in coffee entrepreneur, founder of Dimitri's Coffee
            </div>
        </div>
    </div>
</div>
<div class="row justify-content-center my-5" style="color:#08436A;font-family:Inter Bold;font-size:35px;width:100%;text-align:left;">
    Thanks To Our Sponsers
</div>
<div class="row justify-content-center pb-5">
    <div class="col-2 hover-sponser">
        <a href="https://www.facebook.com/">
            <img src="~/img/sponsor1.png" class="img-fluid sponsor-img" alt="sponsor1img" />
        </a>
    </div>
    <div class="col-2 hover-sponser">
        <a href="https://www.facebook.com/">
            <img src="~/img/sponsor2.png" class="img-fluid sponsor-img" alt="sponsor2img" />
        </a>
    </div>
    <div class="col-2 hover-sponser">
        <a href="https://www.facebook.com/">
            <img src="~/img/sponsor3.png" class="img-fluid sponsor-img" alt="sponsor3img" />
        </a>
    </div>
</div>
<script>
        // Set the date we're counting down to (1 month from now)
    const countDownDate = new Date().getTime() + (30 * 24 * 60 * 60 * 1000);

    // Update the countdown every 1 second
    const x = setInterval(function() {
      // Get today's date and time
      const now = new Date().getTime();

      // Find the distance between now and the countdown date
      const distance = countDownDate - now;

      // Time calculations for days, hours, minutes and seconds
      const days = Math.floor(distance / (1000 * 60 * 60 * 24));
      const hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
      const minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
      const seconds = Math.floor((distance % (1000 * 60)) / 1000);

      // Display the result
      document.getElementById("days").innerHTML = days.toString().padStart(2, '0');
      document.getElementById("hours").innerHTML = hours.toString().padStart(2, '0');
      document.getElementById("minutes").innerHTML = minutes.toString().padStart(2, '0');
      document.getElementById("seconds").innerHTML = seconds.toString().padStart(2, '0');

      // If the countdown is finished, write some text
      if (distance < 0) {
        clearInterval(x);
        document.getElementById("days").innerHTML = "00";
        document.getElementById("hours").innerHTML = "00";
        document.getElementById("minutes").innerHTML = "00";
        document.getElementById("seconds").innerHTML = "00";
      }
    }, 1000);
</script>