@* <div class="row">
    <div class="col-md-5 text-md-start ms-5" style="font-family:Inter Bold;font-size: 50px;color: #08436A;">
       MY Profile
    </div>
</div>
<div class="row pb-3">
    <div class="col-md-3 col-lg-3 col-xl-3 d-flex ms-5">
        <div class="card pt-3 ms-3 shadow position-relative" style="background-color: white;border-radius: 20px;box-shadow: 2px 2px 2px 2px #DFDFDF inset;">
            <img src="~/img/pic.png" alt="pic" class="card-img-top text-center" style="width:250px;align-self:center" />
            <div class="card-body" style="font-family:lora;">
                <div class="card-title lh-1" style="font-size:30px;color:#08436A; text-align:center">Shrouq Hasssan Yousef Baker</div>
                <div class="card-text" style="color:#6D6D6D;text-align:center;font-size:30px">CIS</div>
            </div>
        </div>
    </div>

    <div class="col-md-7 col-lg-7 col-xl-7 d-flex " >
        <div class="card shadow position-relative container-fluid" style="background-color: white;border-radius: 20px;box-shadow: 2px 2px 2px 2px #DFDFDF inset;">
            <div class="row pt-3" style="font-family:inter ; font-size:30px; color:#08436A">
                <div class="col-md-6 col-lg-6 col-xl-6 d-flex">
                    <div class="ms-3"><strong style="color:#808080">Full Name:</strong> <br />Shrouq Hassan Yousef Baker</div>
                </div>
                <div class="col-md-6 col-lg-6 col-xl-6 d-flex">
                    <div ><strong style="color:#808080">Major:</strong></br>Computer Information System</div>
                </div>
       </div>
            <div class="row pt-3" style="font-family:inter ; font-size:30px; color:#08436A">
                <div class="col-md-6 col-lg-6 col-xl-6 d-flex">
                    <div class="ms-3"><strong style="color:#808080">Email:</strong> <br />sro0224734@ju.edu.jo</div>
                </div>
                <div class="col-md-6 col-lg-6 col-xl-6 d-flex">
                    <div ><strong style="color:#808080">College:</strong><br />King Abdullah II School of Information Technology</div>
                </div>
            </div>

            <div class="row " style="font-family:inter ; font-size:30px; color:#08436A">
                <div class="col-md-6 col-lg-6 col-xl-6 d-flex">
                    <div class="ms-3"><strong style="color:#808080">Role: </strong> Student </div>
                </div>
            </div>
            <div class="row pt-4">
                <div class="col-md-6 col-lg-6 col-xl-6 d-flex">
                    <button class="btn btn-sm d-flex align-items-center ms-3 " style="border-radius:10px; background-color:#08436A;color:white; font-size:20px;">
                        Edit profile <i class="fas fa-pen me-2  ps-4 "></i>
                    </button>
                    <button class="btn btn-danger btn-sm d-flex align-items-center ms-3" style="border-radius:10px; background-color:#B60808 ;color:white; font-size:20px">
                        Change password<i class="fas fa-lock me-2  ps-4"></i>
                    </button>
                </div>
            </div>

   </div>
    </div>
</div>


<div class="row">
    <div class="col-md-5 text-md-start ms-5" style="font-family:Inter Bold;font-size: 50px;color: #08436A;">
        Calendar
    </div>
</div >


<div class="container">
    <div class="card" style="box-shadow: inset 4px 4px 4px rgba(0, 0, 0, 0.25);border-radius: 10px;background-color:white; height:250px">
        <div class="row mt-3">
            <div class="col-md-12 col-lg-12 col-xl-12 d-flex " style="justify-content: center;">
                <i class="fa-solid fa-angle-left fa-xl mt-3"></i>
                <strong class="mx-3" style="font-family:inter ;color:#08436A;font-size:30px">November </strong>
                <i class="fa-solid fa-angle-right fa-xl mt-3"></i>
            </div>
        </div>
        <div class="row mt-3" style="justify-content: center;">


        <div class="row mt-3" style="justify-content: center;">
            <div class="col-md-1 col-lg-1 col-xl-1 d-flex mx-4" style="justify-content: center;font-family:inter ;color:#08436A;font-size:30px">
                    SUN                       
            </div>
            <div class="col-md-1 col-lg-1 col-xl-1 d-flex mx-4 " style="justify-content: center;font-family:inter ;color:#08436A;font-size:30px">
                    MUN
            </div>
            <div class="col-md-1 col-lg-1 col-xl-1 d-flex mx-4" style="justify-content: center;font-family:inter ;color:#08436A;font-size:30px">
                    TUE
            </div>
            <div class="col-md-1 col-lg-1 col-xl-1 d-flex mx-4" style="justify-content: center;font-family:inter ;color:#08436A;font-size:30px">
                    WED
            </div>
            <div class="col-md-1 col-lg-1 col-xl-1 d-flex mx-4" style="justify-content: center;font-family:inter ;color:#08436A;font-size:30px">
                    THU
            </div>
            <div class="col-md-1 col-lg-1 col-xl-1 d-flex mx-4" style="justify-content: center;font-family:inter ;color:#08436A;font-size:30px">
                    FRI
            </div>
            <div class="col-md-1 col-lg-1 col-xl-1 d-flex mx-4" style="justify-content: center;font-family:inter ;color:#08436A;font-size:30px">
                    SAT
            </div>

        </div>



</div>
 *@


<div class="row">
    <div class="col-md-5 text-md-start ms-5 mt-3" style="font-family:Inter Bold;font-size: 50px;color: #08436A;">
        FAQ
    </div>
</div>
<!-- First row -->
<div class="row mt-3" id="step1">

    <div class="col-md-10 col-lg-10 col-xl-10 d-flex ms-10" >
        <div class="card ms-5" style="background-color: white;border-radius: 20px;box-shadow: 2px 2px 2px 2px #DFDFDF inset; width:80%; height: 55px;">
            <div class="ms-4 mt-2" style="font-family:Inter ;font-size: 30px;color: #08436A;">
                What is this website about?<i class="fa-solid fa-plus me-3 mt-2" id="togglePlus1" style="float: inline-end; font-size:25px"></i>
            </div>
        </div>
    </div>
</div>
<!-- First-2 row -->
<div class="row mt-3" id="step1-1" style="display:none">

    <div class="col-md-10 col-lg-10 col-xl-10 d-flex ms-10" >
        <div class="card ms-5" style="background-color: white;border-radius: 20px;box-shadow: 0px 2px 2px 2px #DFDFDF inset; width:80%; height: 180px;">
            <div class="ms-4 mt-2" style="font-family:Inter ;font-size: 30px;color: #08436A;">
                <span style="text-decoration: underline;color: #0F73B3;">What is this website about?</span><i class="fa-solid fa-minus  me-3 mt-2" id="toggleMinus1" style="float: inline-end; font-size:25px"></i>
                <p class="mt-2" style="font-family:Inter ;font-size: 25px;color: #B7B0B0;">This website is a calendar for college events, highlighting upcoming and past activities. It serves as a centralized platform for organizing and accessing event details, so users can easily find information about events happening within the college.</p>

            </div>

        </div>
    </div>
</div>


<!-- second row -->
<div class="row mt-3 " id="step2">

    <div class="col-md-10 col-lg-10 col-xl-10 d-flex ms-10">
        <div class="card ms-5" style="background-color: white;border-radius: 20px;box-shadow: 2px 2px 2px 2px #DFDFDF inset; width:80%; height: 55px;">
            <div class="ms-4 mt-2" style="font-family:Inter ;font-size: 30px;color: #08436A;">
                What are the goals behind it?<i class="fa-solid fa-plus me-3 mt-2" id="togglePlus2" style="float: inline-end; font-size:25px"></i>
            </div>
        </div>
    </div>
</div>
<!-- second-2 row -->
<div class="row mt-3" id="step2-2" style="display:none">

    <div class="col-md-10 col-lg-10 col-xl-10 d-flex ms-10">
        <div class="card ms-5" style="background-color: white;border-radius: 20px;box-shadow: 0px 2px 2px 2px #DFDFDF inset; width:80%; height: 180px;">
            <div class="ms-4 mt-2" style="font-family:Inter ;font-size: 30px;color: #08436A;">
                <span style="text-decoration: underline;color: #0F73B3;">What are the goals behind it?</span><i class="fa-solid fa-minus  me-3 mt-2" id="toggleMinus2" style="float: inline-end; font-size:25px"></i>
                <p class="mt-2" style="font-family:Inter ;font-size: 25px;color: #B7B0B0;">The goal is to keep the college community informed and engaged with ongoing activities. It ensures easy access to event information and encourages participation. Additionally, it acts as a record of past events for reference and documentation.</p>

            </div>

        </div>
    </div>
</div>


<!-- third row -->
<div class="row mt-3 " id="step3">

    <div class="col-md-10 col-lg-10 col-xl-10 d-flex ms-10">
        <div class="card ms-5" style="background-color: white;border-radius: 20px;box-shadow: 2px 2px 2px 2px #DFDFDF inset; width:80%; height: 55px;">
            <div class="ms-4 mt-2" style="font-family:Inter ;font-size: 30px;color: #08436A;">
                What does it offer?<i class="fa-solid fa-plus me-3 mt-2" id="togglePlus3" style="float: inline-end; font-size:25px"></i>
            </div>
        </div>
    </div>
</div>
<!-- third-2 row -->
<div class="row mt-3" id="step3-2" style="display:none">

    <div class="col-md-10 col-lg-10 col-xl-10 d-flex ms-10">
        <div class="card ms-5" style="background-color: white;border-radius: 20px;box-shadow: 0px 2px 2px 2px #DFDFDF inset; width:80%; height: 180px;">
            <div class="ms-4 mt-2" style="font-family:Inter ;font-size: 30px;color: #08436A;">
                <span style="text-decoration: underline;color: #0F73B3;">What does it offer?</span><i class="fa-solid fa-minus  me-3 mt-2" id="toggleMinus3" style="float: inline-end; font-size:25px"></i>
                <p class="mt-2" style="font-family:Inter ;font-size: 25px;color: #B7B0B0;">The website provides a detailed calendar of upcoming events and an archive of past events. Users can find key event details such as dates, times, locations, and descriptions. It also offers a user-friendly interface for quick navigation and searching.</p>

            </div>

        </div>
    </div>
</div>

<!-- fourth row -->
<div class="row mt-3 " id="step4">

    <div class="col-md-10 col-lg-10 col-xl-10 d-flex ms-10">
        <div class="card ms-5" style="background-color: white;border-radius: 20px;box-shadow: 2px 2px 2px 2px #DFDFDF inset; width:80%; height: 55px;">
            <div class="ms-4 mt-2" style="font-family:Inter ;font-size: 30px;color: #08436A;">
                Who are the target people?<i class="fa-solid fa-plus me-3 mt-2" id="togglePlus4" style="float: inline-end; font-size:25px"></i>
            </div>
        </div>
    </div>
</div>
<!-- fourth-2 row -->
<div class="row mt-3" id="step4-2" style="display:none">

    <div class="col-md-10 col-lg-10 col-xl-10 d-flex ms-10">
        <div class="card ms-5" style="background-color: white;border-radius: 20px;box-shadow: 0px 2px 2px 2px #DFDFDF inset; width:80%; height: 180px;">
            <div class="ms-4 mt-2" style="font-family:Inter ;font-size: 30px;color: #08436A;">
                <span style="text-decoration: underline;color: #0F73B3;">Who are the target people?</span><i class="fa-solid fa-minus  me-3 mt-2" id="toggleMinus4" style="float: inline-end; font-size:25px"></i>
                <p class="mt-2" style="font-family:Inter ;font-size: 25px;color: #B7B0B0;">The website targets students, faculty, and staff within the college. Alumni and prospective students are also key audiences who can benefit from staying connected to college events. It’s designed for anyone interested in being informed about college activities.</p>

            </div>

        </div>
    </div>
</div>


<!-- fivth row -->
<div class="row mt-3 " id="step5">

    <div class="col-md-10 col-lg-10 col-xl-10 d-flex ms-10">
        <div class="card ms-5" style="background-color: white;border-radius: 20px;box-shadow: 2px 2px 2px 2px #DFDFDF inset; width:80%; height: 55px;">
            <div class="ms-4 mt-2" style="font-family:Inter ;font-size: 30px;color: #08436A;">
                Why our website?<i class="fa-solid fa-plus me-3 mt-2" id="togglePlus5" style="float: inline-end; font-size:25px"></i>
            </div>
        </div>
    </div>
</div>
<!-- fivth-2 row -->
<div class="row mt-3" id="step5-2" style="display:none">

    <div class="col-md-10 col-lg-10 col-xl-10 d-flex ms-10">
        <div class="card ms-5" style="background-color: white;border-radius: 20px;box-shadow: 0px 2px 2px 2px #DFDFDF inset; width:80%; height: 210px;">
            <div class="ms-4 mt-2" style="font-family:Inter ;font-size: 30px;color: #08436A;">
                <span style="text-decoration: underline;color: #0F73B3;">Why our website?</span><i class="fa-solid fa-minus  me-3 mt-2" id="toggleMinus5" style="float: inline-end; font-size:25px"></i>
                <p class="mt-2" style="font-family:Inter ;font-size: 25px;color: #B7B0B0;">Our website provides a centralized and easy-to-use platform for discovering and managing college events. It offers a comprehensive calendar with detailed event information, making it simple to stay informed and engaged. Whether you're looking for upcoming activities or past event archives, everything is accessible in one place.</p>

            </div>

        </div>
    </div>
</div>


<!-- sixth row -->
<div class="row mt-3 mb-5 " id="step6">

    <div class="col-md-10 col-lg-10 col-xl-10 d-flex ms-10">
        <div class="card ms-5" style="background-color: white;border-radius: 20px;box-shadow: 2px 2px 2px 2px #DFDFDF inset; width:80%; height: 55px;">
            <div class="ms-4 mt-2" style="font-family:Inter ;font-size: 30px;color: #08436A;">
                How to register for an event?<i class="fa-solid fa-plus me-3 mt-2" id="togglePlus6" style="float: inline-end; font-size:25px"></i>
            </div>
        </div>
    </div>
</div>
<!-- sixth-2 row -->
<div class="row mt-3 mb-5" id="step6-2" style="display:none">

    <div class="col-md-10 col-lg-10 col-xl-10 d-flex ms-10">
        <div class="card ms-5" style="background-color: white;border-radius: 20px;box-shadow: 0px 2px 2px 2px #DFDFDF inset; width:80%; height: 180px;">
            <div class="ms-4 mt-2" style="font-family:Inter ;font-size: 30px;color: #08436A;">
                <span style="text-decoration: underline;color: #0F73B3;">How to register for an event?</span><i class="fa-solid fa-minus  me-3 mt-2" id="toggleMinus6" style="float: inline-end; font-size:25px"></i>
                <p class="mt-2" style="font-family:Inter ;font-size: 25px;color: #B7B0B0;">To register for an event, go to the Upcoming Events section and browse the events listed. Select the event you want to join, log in to your account, and click Register Now. Once registered, the event will be added to your profile.</p>

            </div>

        </div>
    </div>
</div>



<script>
    const step1 = document.getElementById('step1');
    const step2 = document.getElementById('step1-1');
    const togglePlus = document.getElementById('togglePlus1');
    const toggleMinus = document.getElementById('toggleMinus1');

    
    togglePlus.addEventListener('click', () => {
        step1.style.display = 'none'; 
        step2.style.display = 'flex'; 
    });

    toggleMinus.addEventListener('click', () => {
        step2.style.display = 'none'; 
        step1.style.display = 'flex'; 
    });
      

</script>
<script>
    const step21 = document.getElementById('step2');
    const step22 = document.getElementById('step2-2');
    const togglePlus2 = document.getElementById('togglePlus2');
    const toggleMinus2 = document.getElementById('toggleMinus2');

    
    togglePlus2.addEventListener('click', () => {
        step21.style.display = 'none'; 
        step22.style.display = 'flex'; 
    });

    toggleMinus2.addEventListener('click', () => {
        step22.style.display = 'none'; 
        step21.style.display = 'flex'; 
    });
      

</script>
<script>
    const step31 = document.getElementById('step3');
    const step32 = document.getElementById('step3-2');
    const togglePlus3 = document.getElementById('togglePlus3');
    const toggleMinus3 = document.getElementById('toggleMinus3');

    
    togglePlus3.addEventListener('click', () => {
        step31.style.display = 'none'; 
        step32.style.display = 'flex'; 
    });

    toggleMinus3.addEventListener('click', () => {
        step32.style.display = 'none'; 
        step31.style.display = 'flex'; 
    });
      

</script>
<script>
    const step41 = document.getElementById('step4');
    const step42 = document.getElementById('step4-2');
    const togglePlus4 = document.getElementById('togglePlus4');
    const toggleMinus4 = document.getElementById('toggleMinus4');


    togglePlus4.addEventListener('click', () => {
        step41.style.display = 'none';
        step42.style.display = 'flex';
    });

    toggleMinus4.addEventListener('click', () => {
        step42.style.display = 'none';
        step41.style.display = 'flex';
    });


</script>

<script>
    const step51 = document.getElementById('step5');
    const step52 = document.getElementById('step5-2');
    const togglePlus5 = document.getElementById('togglePlus5');
    const toggleMinus5 = document.getElementById('toggleMinus5');


    togglePlus5.addEventListener('click', () => {
        step51.style.display = 'none';
        step52.style.display = 'flex';
    });

    toggleMinus5.addEventListener('click', () => {
        step52.style.display = 'none';
        step51.style.display = 'flex';
    });


</script>
<script>
    const step61 = document.getElementById('step6');
    const step62 = document.getElementById('step6-2');
    const togglePlus6 = document.getElementById('togglePlus6');
    const toggleMinus6 = document.getElementById('toggleMinus6');


    togglePlus6.addEventListener('click', () => {
        step61.style.display = 'none';
        step62.style.display = 'flex';
    });

    toggleMinus6.addEventListener('click', () => {
        step62.style.display = 'none';
        step61.style.display = 'flex';
    });


</script>





