body {
    background-color: #F3F3F3 !important;
}

.logo {
    width: 88px;
    height: 87px;
}

.navcontainer {
    background-color: white;
    font-family: Inter Bold;
    color: #808080;
}

a.nav-item.nav-link.active {
    border: 3px solid #08436A;
    border-radius: 22px;
    color: #08436A;
}

a.nav-item.nav-link:hover {
    color: #08436A !important;
}

.nav-item.nav-link.me-0.pe-0:hover {
    color: white !important;
}

.carousel-item {
    position: relative;
}

.shadow-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(40, 40, 40, 0.67);
    border-radius: 35px;
}

img.d-block.w-100.sliderimg {
    border-radius: 35px;
}

.card {
    --bs-card-bg: unset;
    background-color: unset;
    border: unset;
}

.dot {
    width: 10px;
    height: 10px;
    background-color: #08436A;
    border-radius: 50%;
    position: absolute;
}

.top-left {
    top: 6px;
    left: 16px;
}

.top-right {
    top: 6px;
    right: 16px;
}

.bottom-left {
    bottom: 56px;
    left: 16px;
}

.bottom-right {
    bottom: 56px;
    right: 16px;
}

.countdown {
    background-color: #0F73B3;
    font-size: 75px;
    border-radius: 8px;
    box-shadow: inset 4px 4px 4px rgba(0, 0, 0, 0.2);
}

.carousel-caption.d-none-xl.d-md-block {
    top: 55px;
    font-size: 62px;
    font-family: Inter Extra Bold;
    display: flex !important;
    justify-content: center;
}

.carousel-title {
    color: #EC8C09;
    text-decoration: underline white 2px;
    text-underline-offset: 10px;
}

.carousel-indicators [data-bs-target] {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: unset;
    background: #EEEEEE;
}

.carousel-control-prev-icon {
    position: absolute;
    left: 200px;
    background-color: #0F73B3;
    border-radius: 50%;
}

.carousel-control-next-icon {
    position: absolute;
    right: 200px;
    background-color: #0F73B3;
    border-radius: 50%;
}

.upcomingbody {
    background-color: white;
    border-radius: 20px !important;
    height: 460.61px;
}

.finishedbody {
    background-color: white;
    border-radius: 20px !important;
    height: 420px;
}

.card-text {
    font-size: 14px;
}

.learnmore {
    background-color: #E9EDF0 !important;
    border: none;
    color: #08436A;
    font-size: 14px;
    bottom: 14px;
    left: 50%;
}

    .learnmore:hover {
        opacity: 80%;
        color: #08436A;
    }

.startBG:before {
    animation: bg 5s linear forwards;
}

@keyframes bg {
    100% {
        background-size: 100% 100%;
    }
}

.fa.fa-star {
    color: #7d7d7d;
}

    .fa.fa-star.checked {
        color: gold;
    }

.filter-button {
    background-color: #08436A;
    font-family: Inter Regular;
    border-radius: 15px;
}

    .filter-button:hover {
        background-color: #08436A;
        --bs-btn-hover-bg: none;
        border: none;
    }

.custom-pagination {
    --bs-pagination-hover-bg: none;
    --bs-pagination-border-color: none;
    --bs-pagination-bg: none;
    --bs-pagination-color: #08436A;
    font-family: Inter Regular;
    --bs-pagination-active-border-color: white;
    --bs-pagination-active-bg: white;
}

.footer {
    background-color: #08436A;
    color: white;
    text-align: start;
}

.ahref {
    color: white;
    text-decoration: none;
}

    .ahref:hover {
        color: none !important;
    }

.vertical-line {
    width: 1px;
    height: 100px;
    background-color: white;
}

.icon-circle {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background-color: white;
    text-decoration: none;
}
.countdown-single-upcoming {
    color: #08436A;
    font-family:Inter Bold;
    font-size:50px;
}
.tag-btn {
    opacity: 100%!important;
    border: none;
    color: white;
    background-color: #0F73B3!important;
    font-family: Inter Semi Bold;
    font-size: 18px;
    border-radius: 10px;
}
.timeline-1 {
    border-left: 3px solid #0F73B3;
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
    /*background: rgba(177, 99, 163, 0.09);*/
    margin: 0 auto;
    position: relative;
    padding: 37px;
    padding-top:0;
    list-style: none;
    text-align: left;
    max-width: 85%;
}

@media (max-width: 767px) {
    .timeline-1 {
        max-width: 98%;
        padding: 25px;
    }
}

.timeline-1 .event {
    /*border-bottom: 1px dashed #000;*/
    padding-bottom: 25px;
    margin-bottom: 25px;
    position: relative;
}

@media (max-width: 767px) {
    .timeline-1 .event {
        padding-top: 30px;
    }
}

.timeline-1 .event:last-of-type {
    padding-bottom: 0;
    margin-bottom: 0;
    border: none;
}

.timeline-1 .event:before,
.timeline-1 .event:after {
    position: absolute;
    display: block;
    top: 0;
}

.timeline-1 .event:before {
    left: -255px;
    content: attr(data-date);
    text-align: right;
    font-size: 1.5em;
    min-width: 120px;
    font-family: Inter Semi Bold;
    color: #08436A;
    padding-right:20px;
}

@media (max-width: 767px) {
    .timeline-1 .event:before {
        left: 0px;
        text-align: left;
    }
}

.timeline-1 .event:after {
    /*-webkit-box-shadow: 0 0 0 2px white;*/
    /*box-shadow: 0 0 0 3px #08436A;*/
    left: -55.8px;
    background: #08436A;
    border-radius: 50%;
    height: 35px;
    width: 35px;
    content: "";
    /*top: 5px;*/
}
li.event.edges:after {
    /*-webkit-box-shadow: 0 0 0 3px #b565a7;
    box-shadow: 0 0 0 3px #08436A;*/
    outline: 2px dashed #08436A;
    outline-offset: 4px;
    left: -55.8px;
    background: #08436A;
    border-radius: 50%;
    height: 35px;
    width: 35px;
    content: "";
    top: 5px;
}

@media (max-width: 767px) {
    .timeline-1 .event:after {
        left: -31.8px;
    }
}
.timeline-title {
    font-family: Inter Bold;
    font-size: 27px;
    color: #08436A;
}
.timeline-body {
    font-family: Inter Bold;
    font-size: 17px;
    color: #808080;
}
.speaker-body {
    background-color: none;
    outline: 3px dashed #08436A;
    outline-offset: 6px;
    height: 400px;
    border-radius:0px;
}
.hover-overlay {
    /*transform: translate(-50%, -50%);*/
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    font-size: 40px;
    color: #08436A; /* Icon color */
    z-index: 2;
    text-decoration:none;
}
.hover-card:hover .hover-overlay {
    opacity: 1; /* Make the overlay visible on hover */
}
.hover-card:hover{
    opacity:70%;
    background-color:#B7B0B0;
}
.sponsor-img{
    height:150px;
    width:152px;
    border-radius:50%;
    border:1px solid black;
}
.single-finished-num{
    color: #08436A;
    font-family: Inter Semi Bold;
    font-size: 50px;
}
.finished-img{
    height:560.37px;
    width:592.36px;
}

.timeline-2 {
    border-left: 3px solid #7E7E7E;
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
    /*background: rgba(177, 99, 163, 0.09);*/
    margin: 0 auto;
    position: relative;
    padding: 37px;
    padding-top: 0;
    list-style: none;
    text-align: left;
    max-width: 85%;
}

@media (max-width: 767px) {
    .timeline-2 {
        max-width: 98%;
        padding: 25px;
    }
}

.timeline-2 .event {
    /*border-bottom: 1px dashed #000;*/
    padding-bottom: 25px;
    margin-bottom: 25px;
    position: relative;
}

@media (max-width: 767px) {
    .timeline-2 .event {
        padding-top: 30px;
    }
}

.timeline-2 .event:last-of-type {
    padding-bottom: 0;
    margin-bottom: 0;
    border: none;
}

.timeline-2 .event:before,
.timeline-2 .event:after {
    position: absolute;
    display: block;
    top: 0;
}

.timeline-2 .event:before {
    left: -225px;
    content: attr(data-date);
    text-align: right;
    font-size: 1.5em;
    min-width: 120px;
    font-family: Inter Semi Bold;
    color: #7E7E7E;
    padding-right: 20px;
}

@media (max-width: 767px) {
    .timeline-2 .event:before {
        left: 0px;
        text-align: left;
    }
}

.timeline-2 .event:after {
    /*-webkit-box-shadow: 0 0 0 2px white;*/
    /*box-shadow: 0 0 0 3px #08436A;*/
    left: -55.8px;
    background: #D9D9D9;
    border: 7px solid #08436A;
    border-radius: 50%;
    height: 35px;
    width: 35px;
    content: "";
    /*top: 5px;*/
}
@media (max-width: 767px) {
    .timeline-2 .event:after {
        left: -31.8px;
    }
}

.timeline2-title {
    font-family: Inter Bold;
    font-size: 27px;
    color: #7E7E7E;
}
.timeline2-btn {
    background-color: #08436A !important;
    opacity: 100% !important;
    border: none;
    color: white;
    font-family: Inter Semi Bold;
    font-size: 30px;
    border-radius: 10px;
}

.textmodal {
    font-family: Inter Regular;
    font-size: 14px;
    color: #063250;
}

.input-container {
    border: 1px solid #08436A;
    border-radius: 10px;
    display: flex;
    align-items: center;
    padding: 8px 12px;
    width: 90%;
    background: white;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

    .input-container .form-control::placeholder {
        color: #808080; /* Placeholder text color */
    }


.vertical-line2 {
    background-color: #08436A;
    height: 30px;
    width: 3px;
}


.form-select {
    border: none;
    border-radius: 5px;
    box-shadow: none;
}

.form-select:focus {
        outline: none;
  }

.collapsible {
    background-color: #f1f1f1;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 10px;
    text-align: left;
    font-size: 16px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

    .collapsible:hover {
        background-color: #ddd;
    }

.content {
    padding: 10px;
    display: none;
    overflow: hidden;
    border: 1px solid #ccc;
    border-top: none;
    background-color: #f9f9f9;
}

